

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}


li, a, p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
  list-style: none;
}

.main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.portal{
  width: 150px;
  height: 200px;
}
.logo{
  cursor: pointer;
  width: 400px;
  height: 400px;
}
 
.title{
  cursor: pointer;
  width: 1008px;
  height: 88px;
}
nav {
  padding: 30px;
  margin: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
}

nav li{
  display: inline-block;
  position: relative;
  margin-left:20px;
}

nav li a {
  transition: all 0.3s ease 0s;
} 

nav li a:hover {
  color: blue;
} 

.enter:hover{
  color: blue;
}


